.seeder {
  color: green;
}

.leecher {
  color: red;
}

.torrents td {
  vertical-align: middle;
  padding: 4px;
}

.torrents img {
  vertical-align: middle;
}

.trusted {
  background-color: #d0e9c6;
}

.remake {
  background-color: #ebcccc;
}